APP_TITLE=Сервис бронирования переговорных комнат
APP_DESCRIPTION=Через это приложение сотрудники будут бронировать помещения
DATABASE_URL=sqlite+aiosqlite:///./fastapi.db
SECRET=change-me
FIRST_SUPERUSER_EMAIL=admin@example.com
FIRST_SUPERUSER_PASSWORD=change-me
TYPE=service_account
PROJECT_ID=your_project_id
PRIVATE_KEY_ID=your_private_key_id
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
CLIENT_EMAIL=your_service_account_email
CLIENT_ID=your_client_id
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL=your_cert_url
EMAIL=your_email@example.com
